## Siyi He

In [2]:
%load_ext sql

Q1: create my own database named lab2.db3.

In [3]:
%sql sqlite:///lab2.db3

'Connected: @lab2.db3'

Q2: Write SQL statements to create the three tables and insert the data

In [83]:
%%sql drop table if exists sailors;
create table sailors(
       sid          varchar primary key,   -- id number of the sailors
       sname        varchar,               -- name of the sailor
       rating       int,                   -- rating of the sailor
       age          int                    -- age of the sailor
);

insert into sailors values('001', 'Vic', 5, 23);
insert into sailors values('002', 'tom', 3, 25);
insert into sailors values('003', 'sam', 4, 27);
insert into sailors values('004', 'mia', 5, 28);
insert into sailors values('005', 'tim', 5, 25);
insert into sailors values('006', 'Kat', 4, 23);

drop table if exists boats;
create table boats(
       bid          varchar primary key,   -- id number of the boats
       name         varchar,               -- name of the boat
       color        varchar                -- color of the boat
);

insert into boats values('110', 'abb', 'red');
insert into boats values('120', 'abc', 'blue');
insert into boats values('130', 'aba', 'green');

drop table if exists reserves;
create table reserves(
       sid          varchar NOT NULL,      -- id number of the sailors
       bid          varchar NOT NULL,      -- id number of the booked boat
       day          int
);

insert into reserves values('001', '110', 3);
insert into reserves values('001', '130', 4);
insert into reserves values('002', '120', 3);
insert into reserves values('002', '130', 3);
insert into reserves values('003', '130', 5);

 * sqlite:///lab2.db3
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Q3: Find names of sailors who’ve reserved boat #110.

In [84]:
%%sql Select distinct s.sname 
From sailors s, reserves r
Where s.sid=r.sid and r.bid='110'

 * sqlite:///lab2.db3
Done.

[('Vic',)]

Q4: Find names of sailors who’ve reserved a red boat.

In [85]:
%%sql Select distinct s.sname 
From sailors s, reserves r, boats b
Where s.sid=r.sid and b.bid=r.bid and b.color='red'

 * sqlite:///lab2.db3
Done.

[('Vic',)]

Q5: Find names of sailors who’ve reserved a red or a blue boat.

In [86]:
%%sql Select distinct s.sname 
From sailors s, reserves r, boats b
Where s.sid=r.sid and b.bid=r.bid and (b.color='red' or b.color='blue')

 * sqlite:///lab2.db3
Done.

[('Vic',), ('tom',)]

Q6: Find names of sailors who’ve reserved a red and a blue boat (nested query).

In [87]:
%%sql Select distinct redname.sname 
From (Select *                                                   -- select sailors who reserves red boats 
    From sailors s, reserves r, boats b
    Where s.sid=r.sid and b.bid=r.bid and b.color='red') redname,
    (Select *                                                    -- select sailors who reserves blue boats
    From sailors s, reserves r, boats b
    Where s.sid=r.sid and b.bid=r.bid and b.color='blue') bluename
Where redname.sid=bluename.sid                     -- i use sid here just to avoid bugs by sailors have the same name

 * sqlite:///lab2.db3
Done.

[]

Q7: Find names of sailors who’ve reserved only blue boats.

In [88]:
%%sql Select S.sname
From sailors S, reserves R, boats B
Where S.sid = R.sid and R.bid = B.bid and B.color = 'blue'       -- find sailor who reserved blue boat
except                                                           -- set difference
Select S2.sname
From sailors S2, reserves R2, boats B2
Where S2.sid = R2.sid and R2.bid = B2.bid and B2.color != 'blue' --find sailor who reserved boats that is not blue

 * sqlite:///lab2.db3
Done.

[]

Q8: Find the average age of sailors for each rating level that has at least two sailors.

In [89]:
%%sql Select S.rating, AVG(S.age) AS avgage
From sailors S
Group By S.rating
Having COUNT(*) > 1

 * sqlite:///lab2.db3
Done.

[(4, 25.0), (5, 25.333333333333332)]

Q9: Find the average number boats reserved by each sailor.

In [90]:
%%sql Select AVG(count)
from (Select COUNT(*) AS count
      from reserves v1
      group by v1.sid) --we count how many boats each sailor has reserves
--my understanding is that we find how many boats each sailor has reserves
--add the number together and get the average

 * sqlite:///lab2.db3
Done.

[(1.6666666666666667,)]

Q10: Find the name of the boat that is most popular one (reserved the most).

In [105]:
%%sql Select b.name, v.count
From  boats b,
      (Select v.bid, count(*) As count
      From reserves v
      group by v.bid) as v
Where v.bid = b.bid and v.count = (select MAX(v1.count)
                                    From ((select v.bid, count(*) As count
                                           From reserves v
                                          Group by v.bid) as v1))

 * sqlite:///lab2.db3
Done.

[('aba', 3)]