# Siyi He
## My partner: Shadman Sakib

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql sqlite:///lab1.db3

'Connected: @lab1.db3'

comment: we load sql extension and connect to the lab1 database

In [24]:
%%sql drop table if exists MyGraph;
create table MyGraph( 
      source int,
      destination int);

insert into MyGraph values(5,11);
insert into MyGraph values(11,2);
insert into MyGraph values(11,9);
insert into MyGraph values(11,10);
insert into MyGraph values(7,11);
insert into MyGraph values(7,8);
insert into MyGraph values(8,9);
insert into MyGraph values(3,8);
insert into MyGraph values(3,10);

 * sqlite:///lab1.db3
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Q1: create a table called Mygraph and store all the source-destination relation in the schema. Since we need to compare the value later, I store all value in integer type.
Q2: use "insert into" to store the graph in the table

In [25]:
%%sql Select distinct source
From MyGraph

 * sqlite:///lab1.db3
Done.

[(5,), (11,), (7,), (8,), (3,)]

Q3: to return all "source" in the table, I used a select. To avoid duplicat, I add the key work distinct which can delete duplicate source

In [26]:
%%sql Select *
From MyGraph
where source > destination

 * sqlite:///lab1.db3
Done.

[(11, 2), (11, 9), (11, 10)]

Q4: returns all edges which the source id is larger than the destination id.

In [27]:
%%sql ALTER TABLE MyGraph
ADD weight int;

 * sqlite:///lab1.db3
Done.

[]

Q5: add a column of weight to each link on the direct graph with alter table and we add weight

In [29]:
%%sql 
Update MyGraph 
set weight = abs(random()%10);

 * sqlite:///lab1.db3
9 rows affected.

[]

Q6: update weight with random generated number with the build-in function abs(random())

In [30]:
%%sql
select distinct weight
from MyGraph

 * sqlite:///lab1.db3
Done.

[(8,), (1,), (3,), (9,), (7,)]

Q7: to return distinct value of weight, i used select distinct weight to filter out the distinct weight value