Write a SQL query to find the names of sailors who reserved all non-blue boats and explain your answer. (not finished)

In [ ]:
%%sql Select s.sname
From sailors s, boats b, reserves r
where s.sid=r.sid and b.bid=r.bid
Group by s.sid
having NOT EXISTS (b.color NOT IN(Select b1.color
                                From boats b1, reserves r
                                    where b1.bid=r.bid and b.color <> 'blue'))

find the IDs of boats with the most popular color (the color that is used by the largest number of boats).

In [ ]:
%%sql Select b.bid
From boats b,
     (Select b1.color,b1.bid,count(*) As count
      From boats b1
      group by b1.color) as v
where b.color=v.color and v.count = (select MAX(v1.count) --most popular color's count
                                 From ((select b.color, count(*) As count
                                        From boats b1
                                        Group by b1.color) as v1))

In [ ]:
%%sql Select a.color 
From (Select b.color, r.sid
     From reserves r, boats b
     where r.bid=b.bid) as a
Group by a.color
Having COUNT(a.sid)>1

In [ ]:
%%sql Select sname 
From (Select r.bid, s.sname, s.sid
     From reserves r, sailors s
     where r.sid=s.sid) as a
Group by a.sid
Having COUNT(a.bid)=2

find the name of sailors who has the highest rating of the same age

In [ ]:
%%sql Select s.sname 
From sailors s
Group by s.age
Having s.rating = MAX(s.rating)

Write a SQL query to find the average number boats reserved by each rating level.

In [ ]:
%%sql Select *
From (Select s.rating, COUNT(r.bid) AS count
      from reserves r, sailors s
      where r.sid=s.sid
      group by s.rating) as v